###############################################################################
# Show Python as major language on GitHub.
###############################################################################

*.html linguist-vendored
*.html linguist-detectable=false